<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card
      Id="1"
      photoCover="https://cdn-images-1.medium.com/fit/c/430/285/0*zAfBm4bDUSRv0cpf"
      cardTitle="Principais métricas de avaliação de modelos em Machine Learning"
      cardDescription="Escolhendo as métricas certas para medir o sucesso do seu modelo de Machine Learning"
      >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle="Afinal, o que é LLMOps?"
      photoCover="https://cdn-images-1.medium.com/fit/c/430/285/1*okKDZOj1nobsvx1ZJPMpKw.png"
    >
    </app-small-card>

    <app-small-card
      Id="3"
      cardTitle="Como e por que manter projetos Open-Source na área de dados"
      photoCover="https://cdn-images-1.medium.com/fit/c/430/285/0*Bb6miM_sq2it5LLH"
    >
    </app-small-card
    >

    <app-small-card
      Id="4"
      cardTitle="Probability Calibration: Como e Por Que Calibrar as Probabilidades em Machine Learning"
      photoCover="https://cdn-images-1.medium.com/fit/c/430/285/0*07_-TtTO1bMJjP9b"
    >
    </app-small-card>
  </div>
</div>
